/*

    Creado por Francisco
    El 14 de diciembre de 2020

*/

*{
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-color: #c0bed1;
}

h2{
    background-color: white;
    border: dotted black;
    padding: 10px;
    width: 70%;
    margin: 20px auto 20px auto;
}

h3{
    color: darkslateblue;
}

h4{
    color: darkslateblue;
}

h5{
    color: darkslateblue;
}

h6{
    background-color: white;
    border: dotted black;
    padding: 10px;
    width: 70%;
    margin: 20px auto 20px auto;
}

.Primera{
    background-color: white;
    border: dotted black;
    padding: 10px;
    width: 70%;
    margin: 20px auto 20px auto;
}

.Temas{
    background-color: white;
    border: dotted black;
    padding: 10px;
    width: 70%;
    margin: 20px auto 20px auto;
}

.Imagenes{
    background-color: white;
    border: dotted black;
    padding: 10px;
    width: 70%;
    margin: auto;
}

main{
    display:grid;
    grid-template-columns: 50% 50%;
}

img{
    width: 100%;
    padding: 20px;
    margin: auto;
}

span{
    color: red;
}

ol{
    list-style: upper-alpha;
}

ol>ol{
    list-style: upper-roman;
}

span1{
   color: red;
}

header,footer{
    padding: 20px;
    background-color: darkslateblue;
    color:white;
    border: dotted black;
    text-align:center;
}