/*

    Creado por francisco
    30 de noviembre de 2020

*/

*{
    margin: 0px;
    box-sizing: border-box;
}

html{
    background-color: aquamarine;
}

.contenedor{
    background-color: white;
    border: 5px dotted black;
    padding: 10px;
    width: 55%;
    /*Arriba derecha abajo izquierda */
    margin: 20px auto 20px auto;
}

ol{
    list-style: upper-alpha;
}

ol>ol{
    list-style: lower-alpha;
}

ul{
    list-style: circle;
}