/*

    Creado por francisco
    30 de noviembre
*/

*{
    margin: 0px;
    box-sizing: border-box;
}

html¨{
    background-color:bisque;
}

main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap:10px;
    margin: 15px;
}

img{
    width: 100%;
}
header,footer{
    background-color:black;
    color:white;
    padding:20px;
    text-align: center
}